# /etc/systemd/system/xsolarlog.service
[Unit]
Description=XSolar Logger Deamon
After=network.target

[Service]
ExecStart=/usr/local/xsolar/bin/xsolarlog
Restart=always

[Install]
WantedBy=multi-user.target
